.whitebox {
    background: white;
    box-shadow: 1px 1px 3px;
    padding: 30px;
}

.pseudo::first-line {
    color: red;
    font-size: 40px;
}

.pseudo::after {
    content: 'Lucas Kang';
    color: blue;
}

.input-file::file-selector-button {
    background: red;
}

.input-file::file-selector-button:hover {
    background: yellow;
    border: none;
    transition: 0.5s;
}

.input-file::-webkit-file-upload-button {
    background: green;
    border-radius: 15px;
}

.input-password::-webkit-input-placeholder {
    color: red;
    border-radius: 15px;
}


input[type=range] {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    background-color: red;
    appearance: none;
    width: 50px;
    height: 50px;
    -webkit-appearance: none;
}

progress {
    -webkit-appearance: none;
}

progress::-webkit-progress-value {
    background-color: red;
    -webkit-appearance: none;
}

progress::-webkit-progress-bar {
    background-color: yellow;
}