.white-box {
    border: 1px solid black;
    background: white;
    padding: 10px;
    list-style: none;
}

li {
    border: 1px solid black;
    background: white;
    padding: 10px;
    .active {
        background-color: blue;
        color: white;
    }
}

.active {
    li {
        border: 1px solid black;
        background: white;
        padding: 10px;
    }
    background-color: blue;
    color: white;
}

@mixin alert($color) {
    background-color: $color;
    padding: 10px;
    color: white;
}

.alert-green {
    @include alert(green);
}

.alert-red {
    @include alert(blue);
}

.alert-yellow {
    @include alert(black);
}


.row-me {
    width: 100%;
    display: flex;
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: 33.33%;
}

.col-2 {
    width: 20%;
}