.white-box {
    border: 1px solid black;
    background: white;
    padding: 10px;
    list-style: none;
}

li {
    border: 1px solid black;
    background: white;
    padding: 10px;
    .active {
        background-color: blue;
        color: white;
    }
}

.active {
    li {
        border: 1px solid black;
        background: white;
        padding: 10px;
    }
    background-color: blue;
    color: white;
}

@mixin alert($color) {
    background-color: $color;
    padding: 10px;
    color: white;
}

.alert-green {
    @include alert(green);
}

.alert-red {
    @include alert(blue);
}

.alert-yellow {
    @include alert(black);
}

@mixin row-sd ($hole) {
    float: left;
    padding: 10px;  
    width: $hole;  
}

.row-me .col-6{
    @include row-sd (50%)
}

.row-me .col-4{
    @include row-sd (33.33%)
}

.row-me {
    float: left;
    padding: 10px;
    .col-4 {
        width: 33.33%;
    }
}

.row-me {
    float: left;
    padding: 10px;
    .col-3 {
        width: 25%;
    }
}

.row-me {
    float: left;
    padding: 10px;
    .col-2 {
        width: 16%;
    }
}

.row-me {
    float: left;
    padding: 10px;
    .col-1 {
        width: 8%;
    }
}